article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

.padding-list-off, .front-page__list-description {
  padding-left: 0; }

.todo__btn-sm {
  font-size: 11px;
  padding: 1px 3px; }

.todo__btn-tomato {
  background-color: #dc3545;
  color: #fff; }

.todo__btn-outline-tomato {
  background-color: #fff;
  color: #dc3545;
  border: 1px solid #dc3545; }

.border-bottom-left-radius {
  border-bottom-left-radius: 24px; }

.border-bottom-right-radius {
  border-bottom-right-radius: 24px; }

@viewport {
  width: device-width; }
html {
  background-color: #ededed;
  box-sizing: border-box;
  height: 100%; }

*:before, *:after {
  box-sizing: inherit; }

body {
  -webkit-font-smoothing: antialiased;
  color: #808080;
  font-family: "rajdhani-regular", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  overflow-x: hidden;
  text-rendering: optimizeLegibility; }

a {
  background: transparent;
  color: #303f9f;
  text-decoration: none;
  transition: color .2s; }

img {
  height: auto;
  max-width: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "rajdhani-regular", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: normal; }

html, body {
  margin: 0;
  padding: 0;
  background-color: #fff; }

.todo__main-background {
  background-color: #fff;
  min-height: calc( 100vh - 269px );
  position: relative; }
  @media (min-width: 992px) {
    .todo__main-background {
      min-height: calc( 100vh - 249px ); } }

.todo__todo_container {
  position: relative;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px 0px 12px #cfcfcf; }

.todo__pill_category {
  text-align: right;
  padding-top: 18px;
  padding-right: 24px; }
  .todo__pill_category_item {
    border: 0.1px solid #303f9f;
    border-radius: 24px;
    padding: 6px 3px 6px 9px;
    text-transform: uppercase;
    color: #fff;
    background-color: #303f9f; }
  .todo__pill_category-link {
    color: #000;
    background-color: #ededed;
    padding: 3px 8px 3px 6px;
    border-radius: 0 24px 24px 0; }

/* Customize the label (the container) */
.checkbox-container {
  display: block;
  position: relative;
  padding: 6px 6px 6px 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #303f9f;
  font-size: 14px;
  margin: 0 3px; }
  .checkbox-container--subcollection {
    border: 1px solid #303f9f;
    border-radius: 24px;
    font-family: "fjallaone-regular"; }
  .checkbox-container--todo {
    margin-left: -24px;
    margin-right: -6px; }

/* Hide the browser's default checkbox */
.collection_delete_checker {
  position: absolute;
  opacity: 0;
  cursor: pointer; }

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 25%;
  left: 6px;
  height: 16px;
  width: 16px;
  background-color: #ededed;
  border-radius: 3px; }
  .checkmark--todo {
    top: 5%; }

/* On mouse-over, add a grey background color */
.checkbox-container:hover .checkmark {
  background-color: #ededed; }

/* When the checkbox is checked, add a blue background */
.label--selected .checkmark {
  background-color: rgba(48, 63, 159, 0.8) !important; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.label--selected .checkmark:after {
  display: block; }

/* Style the checkmark/indicator */
.label--selected .checkmark:after {
  left: 35%;
  top: 10%;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.todo__main-heading {
  text-align: center;
  color: #303f9f;
  font-family: "fjallaone-regular";
  font-size: 32px;
  margin-bottom: -50px; }
  @media (max-width: 576px) {
    .todo__main-heading {
      font-size: 28px; } }

div.todo__box-message {
  display: none;
  position: fixed;
  bottom: 0;
  left: 10px;
  max-width: 400px;
  z-index: 2000;
  background-color: #444444;
  color: #ededed;
  font-size: 18px;
  font-weight: bold;
  transition: display 2s; }

.todo__message--transition {
  display: block !important; }

.todo__registration--tooltips-svg svg {
  height: 15px;
  color: #dc3545;
  border: 1px solid #dc3545;
  padding: 2px 3px;
  border-radius: 10px;
  position: absolute;
  top: 5px;
  right: -20px; }

.todo__registration--collapse-msg {
  padding: 6px;
  font-size: 14px;
  color: #444444;
  font-weight: bold;
  background-color: #ededed;
  box-shadow: inset 0px 0px 1px #333333; }

.todo__todo_title_container {
  background-color: #fff;
  border-radius: 10px 10px 0 0; }

main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }

.todo__general-container {
  position: relative;
  margin-top: 90px;
  background-color: #fff;
  box-shadow: 0 0 5px #808080;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 12px; }
  .todo__general-container .todo__todo-body {
    margin-bottom: 24px; }
    @media (max-width: 576px) {
      .todo__general-container .todo__todo-body {
        margin-bottom: 12px; } }
  .todo__general-container .todo__todo-title h2 {
    font-family: "fjallaone-regular";
    color: #303f9f;
    margin-bottom: 6px; }
    @media (max-width: 576px) {
      .todo__general-container .todo__todo-title h2 {
        font-size: 16px;
        margin-top: 24px; } }
  .todo__general-container .todo__todo-description-container {
    background-color: #ededed;
    margin-left: -24px;
    margin-right: -24px; }
    .todo__general-container .todo__todo-description-container p {
      margin-left: 24px;
      margin-right: 24px;
      padding-top: 12px;
      padding-bottom: 12px;
      margin-bottom: 0;
      color: #000; }
      @media (max-width: 576px) {
        .todo__general-container .todo__todo-description-container p {
          font-size: 13px; } }

.top-right-absolute {
  position: absolute;
  top: 0;
  right: 0; }

.todo__item-category-name {
  margin: 6px 12px; }
  @media (max-width: 576px) {
    .todo__item-category-name {
      margin: 6px;
      margin-top: 3px; } }
  .todo__item-category-name span {
    background-color: #303f9f;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    color: #fff;
    font-size: 12px;
    font-family: "fjallaone-regular";
    padding: 3px 6px;
    text-transform: uppercase; }
    @media (max-width: 576px) {
      .todo__item-category-name span {
        font-size: 11px; } }
  .todo__item-category-name a {
    color: #000;
    font-size: 12px;
    background-color: #ededed;
    font-family: "fjallaone-regular";
    padding: 2px 4px;
    text-transform: uppercase;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border: 1px solid #303f9f;
    margin-left: -5px; }
    @media (max-width: 576px) {
      .todo__item-category-name a {
        font-size: 11px; } }

.todo__library-tags .todo__library-tags-list {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 24px; }
  @media (max-width: 576px) {
    .todo__library-tags .todo__library-tags-list {
      margin-bottom: 12px; } }
.todo__library-tags li a {
  font-family: "fjallaone-regular";
  color: #303f9f;
  font-weight: bold;
  padding: 6px; }
  @media (max-width: 576px) {
    .todo__library-tags li a {
      font-size: 12px; } }

.todo__library-footer {
  background: #4285f4;
  background: -moz-linear-gradient(left, #4285f4 0%, #303f9f 100%);
  background: -webkit-linear-gradient(left, #4285f4 0%, #303f9f 100%);
  background: linear-gradient(to right, #4285f4 0%, #303f9f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#4285f4", endColorstr='#303f9f',GradientType=1 );
  margin-left: -24px;
  margin-right: -24px;
  padding-left: 6px;
  padding-right: 6px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .todo__library-footer p {
    color: #fff;
    margin-bottom: 6px;
    margin-top: 6px; }
    @media (max-width: 576px) {
      .todo__library-footer p {
        font-size: 12px; } }
    .todo__library-footer p span {
      font-family: "rajdhani-bold"; }

/*.todo__action-menu-container{
  position: relative;
  &--aux{
    position: absolute;
    top: 0;
    right: 24px;
    @include todo__center-flex;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    box-shadow: 0px 0px 8px $gray;
  }
  .todo__action-menu{
    @include todo__inline-flex;
    @include reset-list;
  }
  .todo__btn-collection,.todo__btn-todo{
    padding: 12px;
    text-align: center;
    cursor: pointer;
    svg{
      width: 24px;
      height: 24px;
      margin-bottom: -6px;
      color:$sapphire;
      transition: color 1s;
    }
    span{
      display: block;
      text-transform: uppercase;
      color:$sapphire;
      font-family: $font-secondary;
      font-size:12px;
      transition: color 1s;
    }
    &:hover{
      svg{
        color:$tomato;
      }
      span{
        color:$tomato;
      }
    }
    &--selected{
      background-color: $white;
      border:none;
      width: 100%;
      padding: 6px;
      transition: color 1.5s;
      svg{
        display: block;
        width: 24px;
        height: 24px;
        margin:auto;
        color:$tomato;
        transition: color .6s;
      }
      span{
        font-family:$font-secondary;
        text-transform: uppercase;
        font-size: 12px;
        color:$tomato;
        transition: color .6s;
      }
      &:hover{
        //background-color: $tomato;
        svg{
          //color:$white;
          text-shadow:1px 1px 2px $gray;
        }
        span{
          //color:$white;
        }
      }
    }
    &--disabled{
      cursor:not-allowed;
      pointer-events: none;
      svg{
        color:$alto;
      }
      span{
        color:$alto;
      }
    }
  }
  //BUTTON CANCEL
  .todo__btn-cancel{
    display: none;
    color:$white !important;
    font-family:$font-secondary;
    background-color: rgba($tomato,.85);
    transition: background-color 1s;
    border:2.5px solid rgba($tomato,1);
    font-size: 16px;
    letter-spacing: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    &:hover{
      //background-color:rgba($tomato,1);
      //color: $white !important;
      text-shadow:1px 1px 2px $gray;
    }
  }
  //BUTTON CLEAR

  .todo__btn-clear{
    display: none;//inline-block
    background-color:$gallery;
    color:$sapphire;
    padding: 3px 6px;
    font-weight: bold;
    border:1px solid $sapphire;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    transition: background-color 1s;
    &:hover{
      //color:$white;
      //background-color:$sapphire;
      text-shadow:1px 1px 2px $gray;
    }
  }
}
*/
.todo__action-menu-container {
  position: relative; }
  .todo__action-menu-container--aux {
    position: absolute;
    top: 12px;
    left: 50%;
    right: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center; }
  .todo__action-menu-container .todo__action-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center; }
  .todo__action-menu-container .todo__btn-collection,
  .todo__action-menu-container .todo__btn-todo {
    padding: 6px 12px;
    text-align: center;
    cursor: pointer;
    border-radius: 100%;
    margin: 6px;
    background: rgba(237, 237, 237, 0.5);
    box-shadow: 1px 2px 2px #cfcfcf;
    transition: background-color 1s; }
    .todo__action-menu-container .todo__btn-collection svg,
    .todo__action-menu-container .todo__btn-todo svg {
      width: 24px;
      height: 24px;
      margin-bottom: -6px;
      color: #333333;
      transition: color 1s; }
    .todo__action-menu-container .todo__btn-collection span,
    .todo__action-menu-container .todo__btn-todo span {
      display: block;
      text-transform: uppercase;
      color: #333333;
      font-family: "fjallaone-regular";
      font-size: 12px;
      transition: color 1s;
      padding-top: 1.5px; }
    .todo__action-menu-container .todo__btn-collection:hover,
    .todo__action-menu-container .todo__btn-todo:hover {
      background-color: rgba(207, 207, 207, 0.6); }
    .todo__action-menu-container .todo__btn-collection--selected,
    .todo__action-menu-container .todo__btn-todo--selected {
      background-color: #303f9f;
      border: none;
      width: 100%;
      transition: box-shadow 0.5s; }
      .todo__action-menu-container .todo__btn-collection--selected svg,
      .todo__action-menu-container .todo__btn-todo--selected svg {
        display: block;
        width: 24px;
        height: 24px;
        margin: auto;
        color: #ededed;
        transition: color .6s; }
      .todo__action-menu-container .todo__btn-collection--selected span,
      .todo__action-menu-container .todo__btn-todo--selected span {
        font-family: "fjallaone-regular";
        text-transform: uppercase;
        font-size: 12px;
        color: #ededed;
        transition: color .6s; }
      .todo__action-menu-container .todo__btn-collection--selected:hover,
      .todo__action-menu-container .todo__btn-todo--selected:hover {
        background-color: #303f9f;
        box-shadow: -1px 1px 2px #575757; }
    .todo__action-menu-container .todo__btn-collection--disabled,
    .todo__action-menu-container .todo__btn-todo--disabled {
      display: none !important;
      cursor: not-allowed;
      pointer-events: none; }
      .todo__action-menu-container .todo__btn-collection--disabled svg,
      .todo__action-menu-container .todo__btn-todo--disabled svg {
        color: #cfcfcf; }
      .todo__action-menu-container .todo__btn-collection--disabled span,
      .todo__action-menu-container .todo__btn-todo--disabled span {
        color: #cfcfcf; }
  .todo__action-menu-container .todo__btn-cancel {
    display: block;
    border-style: none;
    transition: background-color 1s; }
    .todo__action-menu-container .todo__btn-cancel svg {
      color: #dc3545; }
    .todo__action-menu-container .todo__btn-cancel span {
      color: #dc3545;
      padding-top: 3px; }
  .todo__action-menu-container .todo__btn-clear {
    display: block;
    border-style: none;
    transition: background-color 1s; }
    .todo__action-menu-container .todo__btn-clear svg {
      color: #333333; }
    .todo__action-menu-container .todo__btn-clear span {
      color: #333333;
      padding-top: 3px; }

.todo__delete-message,
.todo__move-message {
  display: none; }

.todo__modal-danger {
  background-color: #dc3545; }
.todo__modal-info {
  background-color: #303f9f; }
.todo__modal-primary {
  background-color: #4285f4; }
.todo__modal h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "fjallaone-regular";
  color: #fff;
  font-size: 18px; }
.todo__modal .todo__modal-body {
  background-color: #ededed; }
  .todo__modal .todo__modal-body p {
    color: #212121;
    font-size: 18px; }
  .todo__modal .todo__modal-body span {
    color: #4285f4;
    font-style: italic;
    text-transform: capitalize;
    font-weight: bold; }

.todo__modal-footer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .todo__modal-footer label {
    margin: 0; }

.todo__btn-modal {
  border-radius: 0;
  padding: 6px 24px;
  color: #fff;
  text-transform: uppercase;
  font-family: "fjallaone-regular";
  margin-left: 6px;
  margin-right: 6px; }
  .todo__btn-modal--danger {
    background-color: #dc3545; }
  .todo__btn-modal--default {
    background-color: #444444; }
  .todo__btn-modal--info {
    background-color: #303f9f; }

.full-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%; }

.todo__collection-header {
  background-color: #3658bd;
  margin-left: -24px;
  margin-right: -24px;
  padding-left: 24px;
  padding-right: 24px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  box-shadow: -1px 3px 4px #808080; }
  @media (max-width: 576px) {
    .todo__collection-header {
      padding-left: 12px;
      padding-right: 12px; } }

.todo__collection-header-path {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 6px 12px 12px;
  height: 30px;
  padding: 0 18px; }
  @media (min-width: 576px) {
    .todo__collection-header-path {
      padding: 0 24px; } }

.todo__collection-header-path-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 500px;
  max-width: 500px; }
  @media (max-width: 576px) {
    .todo__collection-header-path-list {
      height: 24px;
      width: 250px;
      max-width: 250px; } }
  .todo__collection-header-path-list .todo__inner--carousel {
    right: 0px;
    left: unset; }

.todo__collection-header-path-item {
  text-transform: uppercase;
  font-size: 14px; }
  @media (max-width: 576px) {
    .todo__collection-header-path-item {
      font-size: 12px; } }
  .todo__collection-header-path-item span svg {
    width: 10px;
    height: 10px;
    color: #dc3545; }
  .todo__collection-header-path-item a {
    color: #cfcfcf; }
  .todo__collection-header-path-item--selected {
    color: #fff;
    font-family: "rajdhani-bold";
    text-decoration: underline; }

.todo__collection-header-title {
  color: #fff;
  font-family: "fjallaone-regular";
  font-weight: bold;
  font-size: 36px;
  padding-top: 36px;
  margin-top: 0;
  margin-bottom: 0px; }
  @media (max-width: 576px) {
    .todo__collection-header-title {
      font-size: 22px; } }
  .todo__collection-header-title--link, .todo__collection-header-title--link:hover, .todo__collection-header-title--link:visited, .todo__collection-header-title--link:focus {
    color: #fff; }

.todo__collection-header-description {
  color: #ededed;
  font-size: 18px;
  padding-bottom: 6px; }
  @media (max-width: 576px) {
    .todo__collection-header-description {
      font-size: 14px; } }

.todo__collection-body--heading {
  text-transform: uppercase;
  color: #303f9f;
  font-weight: lighter;
  font-family: "fjallaone-regular";
  font-size: 24px;
  margin-bottom: 12px; }
  @media (max-width: 576px) {
    .todo__collection-body--heading {
      font-size: 18px; } }

.todo__collection-body-category {
  position: relative;
  margin-left: -24px;
  margin-right: -24px;
  padding-left: 24px;
  padding-right: 24px; }

.todo__collection-body-subcategory-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px; }
  @media (max-width: 576px) {
    .todo__collection-body-subcategory-list li {
      font-size: 13px; } }

.todo__mytodos--subcollection-list {
  width: 100%; }

.todo__collection-body-subcategory-list-item {
  padding: 6px 12px;
  margin: 0 3px;
  border: 1px solid #303f9f;
  border-radius: 24px;
  margin-right: 8px;
  font-family: "fjallaone-regular"; }

.todo__subcollection--viewmore {
  color: #dc3545;
  padding: 3px;
  font-size: 14px;
  font-family: "rajdhani-bold";
  text-transform: lowercase;
  text-decoration: underline; }

.todo__todo-title-collection {
  font-family: "rajdhani-bold";
  color: #000;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 0; }
  @media (max-width: 576px) {
    .todo__todo-title-collection {
      font-size: 16px; } }
  .todo__todo-title-collection a, .todo__todo-title-collection :hover, .todo__todo-title-collection a:visited, .todo__todo-title-collection a:focus {
    color: black; }

.todo__collection-body-todo-container {
  margin-bottom: 24px; }

.todo__library--viewTodos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 12px; }

.todo__bubble-creator--outer-container {
  position: fixed;
  top: 50%;
  right: 0px; }
  .todo__bubble-creator--outer-container .todo__bubble-creator--inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .todo__bubble-creator--outer-container .todo__bubble-creator--inner-container .todo__bubble-creator--collection-container,
    .todo__bubble-creator--outer-container .todo__bubble-creator--inner-container .todo__bubble-creator--todo-container {
      z-index: 9999;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-bottom-left-radius: 24px;
      border-top-left-radius: 24px;
      box-shadow: -2px 2px 2px #808080;
      width: 80px;
      height: 40px;
      margin: 6px 0 6px 12px; }
      .todo__bubble-creator--outer-container .todo__bubble-creator--inner-container .todo__bubble-creator--collection-container a,
      .todo__bubble-creator--outer-container .todo__bubble-creator--inner-container .todo__bubble-creator--todo-container a {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center; }
        .todo__bubble-creator--outer-container .todo__bubble-creator--inner-container .todo__bubble-creator--collection-container a:hover,
        .todo__bubble-creator--outer-container .todo__bubble-creator--inner-container .todo__bubble-creator--todo-container a:hover {
          text-decoration: none; }
      .todo__bubble-creator--outer-container .todo__bubble-creator--inner-container .todo__bubble-creator--collection-container span,
      .todo__bubble-creator--outer-container .todo__bubble-creator--inner-container .todo__bubble-creator--todo-container span {
        font-family: "fjallaone-regular";
        font-size: 12px;
        text-transform: uppercase;
        color: white; }
    .todo__bubble-creator--outer-container .todo__bubble-creator--inner-container .todo__bubble-creator--collection-container {
      background-color: #4285f4; }
    .todo__bubble-creator--outer-container .todo__bubble-creator--inner-container .todo__bubble-creator--todo-container {
      background-color: #dc3545; }

.carousel {
  overflow: hidden;
  position: relative;
  height: 42px; }

.todo__inner--carousel {
  position: absolute;
  top: 6px;
  left: 0;
  display: flex;
  transition: all .4s ease-out; }

.slide {
  white-space: nowrap; }

.arrow {
  position: absolute;
  z-index: 5;
  cursor: pointer;
  transition: border-color 0.3s ease-out; }

.arrow--path {
  display: none;
  top: 30%;
  padding: 2px;
  border: 1px solid white;
  background: white;
  border-radius: 100%;
  box-shadow: 0px 0px 2px #ededed; }
  @media (max-width: 576px) {
    .arrow--path {
      top: 20%;
      padding: 1px; } }
  .arrow--path svg {
    color: #dc3545;
    width: 12px;
    height: 12px; }
    @media (max-width: 576px) {
      .arrow--path svg {
        width: 8px;
        height: 8px; } }

.arrow--subcategory {
  display: none;
  bottom: 10%;
  padding: 6px; }
  @media (max-width: 576px) {
    .arrow--subcategory {
      padding: 3px;
      bottom: 30%; } }
  .arrow--subcategory svg {
    color: #dc3545;
    width: 12px;
    height: 18px; }
    @media (max-width: 576px) {
      .arrow--subcategory svg {
        width: 14px;
        height: 14px; } }

.arrow:hover {
  border-color: #93278f; }

.arrow-left {
  left: 0px; }

.arrow-right {
  right: 0px; }

.todo__mytodos--navegator-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 250px;
  max-width: 250px;
  height: 75px;
  margin: 12px 24px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }
  @media (min-width: 576px) {
    .todo__mytodos--navegator-list {
      width: 500px;
      max-width: 500px; } }

.todo__mytodos--navegator-item {
  margin: 6px;
  padding: 6px;
  font-size: 18px; }

footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 24px; }
  footer p.coder-message {
    text-align: center;
    border-top: 1px solid #808080;
    border-top-style: dashed;
    padding-top: 24px; }
    @media (max-width: 576px) {
      footer p.coder-message {
        font-size: 14px; } }
  footer div.inner {
    width: 100%;
    background: #4285f4;
    background: -moz-linear-gradient(left, #4285f4 0%, #303f9f 100%);
    background: -webkit-linear-gradient(left, #4285f4 0%, #303f9f 100%);
    background: linear-gradient(to right, #4285f4 0%, #303f9f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#4285f4", endColorstr='#303f9f',GradientType=1 ); }
    footer div.inner p, footer div.inner p a {
      margin-top: 1rem;
      text-align: center;
      color: #fff; }

.footer-absolute {
  height: 133px;
  position: absolute;
  left: 0;
  bottom: 0; }

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999; }
  header .navbar {
    padding: 0;
    position: relative; }

.header__blue-gradient {
  margin-left: -15px;
  margin-right: -15px;
  background: #4285f4;
  background: -moz-linear-gradient(left, #4285f4 0%, #303f9f 100%);
  background: -webkit-linear-gradient(left, #4285f4 0%, #303f9f 100%);
  background: linear-gradient(to right, #4285f4 0%, #303f9f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#4285f4", endColorstr='#303f9f',GradientType=1 );
  margin-bottom: 24px;
  box-shadow: -1px 3px 4px rgba(48, 63, 159, 0.5); }

.header__menu {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  @media (min-width: 992px) {
    .header__menu {
      padding: 6px 0;
      margin: 0; } }

.header__logo {
  padding: 0;
  margin: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  @media (min-width: 992px) {
    .header__logo {
      margin: 3px 12px 6px 12px;
      width: auto; } }
  .header__logo svg {
    transition: all 0.5s ease;
    width: 200px; }
    @media (min-width: 992px) {
      .header__logo svg {
        width: 300px; } }

#logo-svg--mobile {
  position: relative;
  opacity: 1; }
  @media (min-width: 992px) {
    #logo-svg--mobile {
      position: absolute;
      opacity: 0; } }

#logo-svg--pc {
  display: none; }
  @media (min-width: 992px) {
    #logo-svg--pc {
      display: block; } }

.todo__header-button--mobile {
  position: absolute;
  right: 10px; }
  .todo__header-button--mobile svg {
    color: #dc3545;
    width: 8px; }

.todo__navbar-collapse {
  justify-content: center; }

.header__menu-item {
  align-self: flex-end;
  font-family: "fjallaone-regular";
  font-size: 16px;
  margin: 0 12px;
  padding-bottom: 12px; }
  @media (min-width: 576px) {
    .header__menu-item {
      font-size: 18px; } }
  @media (min-width: 992px) {
    .header__menu-item {
      font-size: 24px; } }
  .header__menu-item a {
    color: #fff;
    text-decoration: underline;
    transition: color 1s;
    position: relative; }
    @media (min-width: 992px) {
      .header__menu-item a {
        padding: 0; } }
  .header__menu-item a:hover {
    color: #cfcfcf; }
  .header__menu-item span {
    position: absolute;
    top: 10px;
    left: 110%;
    font-size: 10px;
    color: #dc3545;
    text-decoration: none !important; }
    @media (min-width: 992px) {
      .header__menu-item span {
        font-size: 11px; } }

.white-header {
  box-shadow: -1px 2px 3px #444444;
  background: #ededed;
  background: -moz-linear-gradient(left, #ededed 0%, #fff 100%);
  background: -webkit-linear-gradient(left, #ededed 0%, #fff 100%);
  background: linear-gradient(to right, #ededed 0%, #fff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ededed", endColorstr='#fff',GradientType=1 ); }
  .white-header .header__menu-item a {
    color: #303f9f; }
  .white-header .header__menu-item a:hover {
    color: #dc3545; }

.front-page {
  background-color: #fff;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  margin-bottom: 24px;
  margin-left: -15px;
  margin-right: -15px; }

.front-page__first-block, .front-page__second-block {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px; }
  @media (max-width: 576px) {
    .front-page__first-block, .front-page__second-block {
      flex-wrap: wrap; } }

.front-page__first-block {
  margin-top: 24px; }
  .front-page__first-block .left, .front-page__first-block .right {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    width: 80%; }
    @media (max-width: 576px) {
      .front-page__first-block .left, .front-page__first-block .right {
        width: 100%;
        margin-top: -24px; } }
  .front-page__first-block .left {
    margin-left: auto; }
  .front-page__first-block .right {
    align-items: center;
    margin-right: auto; }
  .front-page__first-block .introduction-list {
    list-style: none;
    padding-left: 12px; }
    .front-page__first-block .introduction-list li {
      position: relative; }
      .front-page__first-block .introduction-list li p {
        font-size: 18px; }
        @media (max-width: 576px) {
          .front-page__first-block .introduction-list li p {
            font-size: 16px; } }
  .front-page__first-block span.red-dot {
    position: absolute;
    top: -2px;
    left: -12px; }

.front-page__second-block {
  background-color: #ededed;
  box-shadow: inset 0 0 5px #808080;
  padding-top: 24px;
  padding-bottom: 48px;
  color: #000; }
  .front-page__second-block .left {
    width: 80%;
    margin-left: auto; }
    @media (max-width: 576px) {
      .front-page__second-block .left {
        width: 100%; } }
  .front-page__second-block .right {
    width: 80%;
    margin-right: auto; }
    @media (max-width: 576px) {
      .front-page__second-block .right {
        width: 100%; } }

.front-page__heading-3 {
  font-family: "fjallaone-regular";
  color: #4285f4;
  font-size: 24px; }
  @media (max-width: 576px) {
    .front-page__heading-3 {
      font-size: 18px; } }

.front-page__button-library,
.front-page__button-todo {
  font-family: "fjallaone-regular";
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0.43em 0 0.23em; }
  @media (max-width: 576px) {
    .front-page__button-library,
    .front-page__button-todo {
      font-size: 32px; } }
  .front-page__button-library a,
  .front-page__button-todo a {
    color: rgba(66, 133, 244, 0.9);
    text-shadow: 0px 5px 2px #ededed, 0px 0px 0px #000, 0px 5px 2px #ededed;
    transition: color .5s; }
    .front-page__button-library a:hover,
    .front-page__button-todo a:hover {
      color: rgba(48, 63, 159, 0.8);
      text-decoration: none; }

.high-sapphire {
  color: #303f9f;
  text-transform: uppercase;
  font-weight: bolder; }

.front-page__list-description {
  list-style: none; }
  .front-page__list-description li {
    margin: 12px 0; }
    @media (max-width: 576px) {
      .front-page__list-description li {
        font-size: 14px; } }

.front-page__third-block {
  text-align: center;
  margin-bottom: 24px; }
  .front-page__third-block h3 {
    font-family: "fjallaone-regular";
    color: #4285f4;
    font-size: 36px;
    margin-top: 12px;
    margin-bottom: 12px; }
    @media (max-width: 576px) {
      .front-page__third-block h3 {
        font-size: 24px; } }
  .front-page__third-block svg {
    width: 100%; }
    @media (max-width: 576px) {
      .front-page__third-block svg {
        height: auto; } }

.empty-front-page {
  background-color: #ededed;
  box-shadow: inset 0 0 5px #808080;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -21px;
  padding-top: 24px;
  padding-bottom: 48px;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  margin-bottom: 24px;
  align-items: center; }
  @media (max-width: 576px) {
    .empty-front-page {
      margin-top: -45px;
      padding: 12px;
      padding-bottom: 24px; } }
  .empty-front-page h2.empty-front-page--heading {
    color: #303f9f;
    font-family: "fjallaone-regular";
    font-size: 36px;
    margin-bottom: 12px;
    margin-top: 18px; }
    @media (max-width: 576px) {
      .empty-front-page h2.empty-front-page--heading {
        font-size: 28px; } }
  .empty-front-page p.welcome-message {
    font-size: 20px;
    margin-left: 12px;
    margin-right: 12px; }
    @media (max-width: 576px) {
      .empty-front-page p.welcome-message {
        font-size: 18px; } }
    .empty-front-page p.welcome-message span {
      color: #303f9f;
      text-transform: uppercase;
      font-weight: bolder; }
      .empty-front-page p.welcome-message span i {
        color: #dc3545;
        font-style: normal; }
  .empty-front-page .empty-front-page--container-buttons {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-items: stretch;
    margin-left: 10%;
    margin-right: 10%; }
    @media (max-width: 576px) {
      .empty-front-page .empty-front-page--container-buttons {
        flex-wrap: wrap;
        margin-left: 3%;
        margin-right: 3%; } }
    .empty-front-page .empty-front-page--container-buttons .left, .empty-front-page .empty-front-page--container-buttons .right {
      display: flex;
      flex-flow: column wrap;
      align-content: center;
      align-items: center;
      border: 1.5px dashed rgba(207, 207, 207, 0.7);
      border-color: rgba(128, 128, 128, 0.7);
      transition: box-shadow .5s,background-color 1s; }
      .empty-front-page .empty-front-page--container-buttons .left p, .empty-front-page .empty-front-page--container-buttons .right p {
        margin-left: 12px;
        margin-right: 12px;
        text-align: center;
        color: #000; }
        @media (max-width: 576px) {
          .empty-front-page .empty-front-page--container-buttons .left p, .empty-front-page .empty-front-page--container-buttons .right p {
            font-size: 13px; } }
    .empty-front-page .empty-front-page--container-buttons .left:hover, .empty-front-page .empty-front-page--container-buttons .right:hover {
      box-shadow: inset 2px -2px 5px rgba(128, 128, 128, 0.6), inset -2px 2px 5px rgba(128, 128, 128, 0.6);
      background-color: rgba(207, 207, 207, 0.3);
      cursor: pointer; }
      .empty-front-page .empty-front-page--container-buttons .left:hover .button-heading, .empty-front-page .empty-front-page--container-buttons .right:hover .button-heading {
        color: rgba(66, 133, 244, 0.8);
        text-shadow: 0px 4px 2px rgba(207, 207, 207, 0.3), 0px 0px 0px #000, 0px 5px 4px rgba(207, 207, 207, 0.3); }
    .empty-front-page .empty-front-page--container-buttons .left {
      margin: auto;
      width: 80%;
      margin-right: 5%; }
      @media (max-width: 576px) {
        .empty-front-page .empty-front-page--container-buttons .left {
          margin: 0;
          margin-bottom: 12px;
          width: 100%; } }
    .empty-front-page .empty-front-page--container-buttons .right {
      margin: auto;
      width: 80%;
      margin-left: 5%; }
      @media (max-width: 576px) {
        .empty-front-page .empty-front-page--container-buttons .right {
          margin: 0;
          margin-top: 12px;
          width: 100%; } }
    .empty-front-page .empty-front-page--container-buttons .button-heading {
      font-family: "fjallaone-regular";
      font-size: 48px;
      text-transform: uppercase;
      color: rgba(207, 207, 207, 0.8);
      text-shadow: 0px 5px 2px #ededed, 0px 0px 0px #000, 0px 5px 2px #ededed;
      margin-top: 12px;
      margin-bottom: 12px;
      transition: color 1s, text-shadow 1s; }
      @media (max-width: 576px) {
        .empty-front-page .empty-front-page--container-buttons .button-heading {
          font-size: 32px; } }

.container-question {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
  position: relative; }
  .container-question div {
    padding-left: 6px;
    margin-right: 6px; }
    .container-question div svg {
      width: 24px;
      height: 24px;
      color: #dc3545;
      padding: 2px;
      border: 1.5px solid #dc3545;
      border-radius: 100%; }
  .container-question p {
    font-size: 20px; }
    @media (max-width: 576px) {
      .container-question p {
        font-size: 18px;
        margin-bottom: 0; } }
    .container-question p a {
      text-decoration: underline; }

.todo__form {
  background-color: #fff; }
  @media (max-width: 576px) {
    .todo__form {
      margin-top: 0px; } }
  .todo__form .jumbotron_container {
    background-color: #303f9f;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -6px;
    padding-top: 24px;
    padding-bottom: 84px;
    box-shadow: inset 0px 4px 8px #2c325d; }
    @media (min-width: 576px) {
      .todo__form .jumbotron_container {
        margin-left: -15px;
        margin-right: -15px;
        margin-top: -24px; } }
    .todo__form .jumbotron_container h1 {
      margin: 0;
      font-family: "fjallaone-regular";
      text-transform: uppercase;
      color: #fff;
      font-size: 48px;
      letter-spacing: 2px;
      text-align: right; }
      @media (max-width: 576px) {
        .todo__form .jumbotron_container h1 {
          text-align: center;
          font-size: 24px;
          letter-spacing: 1.5px; } }
    .todo__form .jumbotron_container .guidelines_container ul {
      list-style: none;
      margin: 0;
      padding: 0;
      border-left: 1px solid #cfcfcf;
      margin-left: 24px;
      padding-left: 24px; }
      @media (max-width: 576px) {
        .todo__form .jumbotron_container .guidelines_container ul {
          list-style: circle;
          border-style: none;
          margin-left: 24px;
          padding-left: 0px; } }
      .todo__form .jumbotron_container .guidelines_container ul li {
        font-family: "rajdhani-regular";
        font-size: 16px;
        color: #cfcfcf; }
        .todo__form .jumbotron_container .guidelines_container ul li:nth-child(n+1) {
          margin-top: 6px; }
        @media (max-width: 576px) {
          .todo__form .jumbotron_container .guidelines_container ul li {
            font-size: 14px; } }
  .todo__form .todo_container {
    background-color: #fff;
    margin-top: -60px;
    box-shadow: 0 0 4px #808080;
    padding: 12px 132px 12px 132px; }
    @media (max-width: 576px) {
      .todo__form .todo_container {
        padding: 12px; } }
    .todo__form .todo_container .todo__input-form {
      background-color: rgba(237, 237, 237, 0.5);
      box-shadow: inset 1px -1px 5px rgba(207, 207, 207, 0.8); }
    .todo__form .todo_container hr {
      margin: 0; }
    .todo__form .todo_container .form-subheading {
      display: block;
      width: 100%;
      text-align: center;
      color: #303f9f;
      padding-top: 24px;
      font-family: "rajdhani-bold"; }
    .todo__form .todo_container .todo__form-separator {
      margin-bottom: 12px; }
    .todo__form .todo_container label {
      margin-bottom: 0;
      text-transform: uppercase;
      color: #444444;
      font-family: "rajdhani-bold"; }
      .todo__form .todo_container label span {
        color: #808080;
        font-family: "rajdhani-regular";
        font-size: 12px;
        text-transform: lowercase; }
        .todo__form .todo_container label span span {
          color: #dc3545; }
    .todo__form .todo_container .todo__form-main-category-message {
      margin: 3px 24px 12px; }
    .todo__form .todo_container .todo-message {
      margin-top: 24px;
      margin-bottom: 24px;
      margin-left: 0;
      border-left: 1px solid #cfcfcf; }
      @media (max-width: 576px) {
        .todo__form .todo_container .todo-message {
          margin: auto;
          margin-top: 12px;
          margin-bottom: 12px;
          padding-bottom: 6px;
          border-style: none;
          border-bottom: 1px solid #cfcfcf; } }
      .todo__form .todo_container .todo-message p {
        margin: 0; }
    .todo__form .todo_container .todo__tags-container {
      position: relative;
      display: none; }
      .todo__form .todo_container .todo__tags-container ul {
        list-style: none;
        margin: 0;
        padding: 0;
        padding-top: 12px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start; }
        .todo__form .todo_container .todo__tags-container ul .selected {
          color: #dc3545;
          font-weight: bold; }
    .todo__form .todo_container .top-center-absolute {
      position: absolute;
      top: -24px;
      right: 0;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .todo__form .todo_container .top-center-absolute button {
        margin: 0 3px; }
    .todo__form .todo_container .todo__tag-item {
      color: #303f9f;
      text-transform: uppercase;
      font-weight: bolder;
      padding: 3px 6px;
      font-size: 12px;
      cursor: pointer; }
    .todo__form .todo_container .todo__tags-input {
      position: relative; }
      .todo__form .todo_container .todo__tags-input input {
        display: inline-block;
        width: 70%; }
    .todo__form .todo_container .disable {
      color: #cfcfcf;
      border-color: #cfcfcf;
      cursor: not-allowed; }
    .todo__form .todo_container .todo__btn-tag {
      font-size: 11px;
      font-family: "rajdhani-regular";
      padding: 3px; }
      .todo__form .todo_container .todo__btn-tag--add {
        background-color: #fff;
        border: 1px solid #303f9f;
        padding: 6px;
        color: #303f9f;
        font-size: 12px;
        text-transform: uppercase;
        margin-bottom: 6px;
        font-family: "rajdhani-bold";
        transition: color .3s, background-color .3s; }
      .todo__form .todo_container .todo__btn-tag--add:hover {
        color: #fff;
        background-color: #303f9f; }
    .todo__form .todo_container .left {
      text-align: right; }
    .todo__form .todo_container .todo__btn-form {
      color: #fff;
      font-family: "fjallaone-regular";
      text-transform: uppercase;
      text-align: center;
      font-size: 24px;
      padding: 6px 72px;
      border-radius: 0; }
      @media (max-width: 576px) {
        .todo__form .todo_container .todo__btn-form {
          padding: 8px 25px;
          font-size: 18px;
          width: 120px;
          max-width: 120px;
          margin-top: 12px; } }
      .todo__form .todo_container .todo__btn-form--blue {
        background-color: #303f9f; }
      .todo__form .todo_container .todo__btn-form--dark {
        background-color: #444444; }

.todo__container-level-bar {
  background-color: rgba(237, 237, 237, 0.5);
  margin-left: -15px;
  margin-right: -15px;
  padding-bottom: 8px;
  font-family: "fjallaone-regular";
  border-bottom-left-radius: 75px;
  border-bottom-right-radius: 75px;
  box-shadow: 0px 4px 8px rgba(128, 128, 128, 0.5); }
  .todo__container-level-bar--header {
    padding-top: 1px;
    text-align: center; }
    .todo__container-level-bar--header--heading {
      font-family: "fjallaone-regular";
      font-size: 20px;
      color: #212121;
      margin: 0;
      padding: 10px 0; }
      @media (max-width: 576px) {
        .todo__container-level-bar--header--heading {
          font-size: 18px; } }
  .todo__container-level-bar--body {
    width: 80%;
    margin-left: 10%; }
    .todo__container-level-bar--body ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      justify-content: space-around; }
    .todo__container-level-bar--body li {
      text-transform: uppercase;
      font-weight: bold;
      color: #000; }
      @media (max-width: 576px) {
        .todo__container-level-bar--body li {
          font-size: 11px;
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: center;
          align-items: center; } }
      @media (max-width: 576px) {
        .todo__container-level-bar--body li span svg {
          width: 11px; } }

.todo__search-bar-container {
  margin: 48px 10% 0px 10%; }
  @media (max-width: 576px) {
    .todo__search-bar-container {
      margin: 48px -6px 0px -6px; } }

.todo__search-bar-input-container {
  margin-bottom: 0; }
  .todo__search-bar-input-container label {
    margin-bottom: 0; }

.todo__btn-search-bar,
.todo__btn-search-bar:link,
.todo__btn-search-bar:visited,
.todo__btn-search-bar:hover,
.todo__btn-search-bar:active {
  background-color: #303f9f;
  color: #ededed;
  font-family: "fjallaone-regular";
  text-transform: uppercase;
  border-color: #303f9f;
  box-shadow: 0 0px 4px #808080;
  font-size: 14px;
  padding-right: 24px; }
  @media (min-width: 992px) {
    .todo__btn-search-bar,
    .todo__btn-search-bar:link,
    .todo__btn-search-bar:visited,
    .todo__btn-search-bar:hover,
    .todo__btn-search-bar:active {
      font-size: 18px; } }

.todo__btn-search-bar--svg {
  display: inline; }
  @media (min-width: 992px) {
    .todo__btn-search-bar--svg {
      display: none; } }

.todo__btn-search-bar--text {
  display: none; }
  @media (min-width: 992px) {
    .todo__btn-search-bar--text {
      display: inline; } }

.todo__btn-search-bar--inverse,
.todo__btn-search-bar--inverse:link,
.todo__btn-search-bar--inverse:visited,
.todo__btn-search-bar--inverse:hover,
.todo__btn-search-bar--inverse:active {
  background-color: #303f9f;
  border-color: #303f9f;
  color: #ededed;
  box-shadow: 0 0px 4px #212121;
  font-family: "fjallaone-regular";
  text-transform: uppercase;
  font-size: 18px;
  border-radius: 0 5px 5px 0 !important; }
  .todo__btn-search-bar--inverse span,
  .todo__btn-search-bar--inverse:link span,
  .todo__btn-search-bar--inverse:visited span,
  .todo__btn-search-bar--inverse:hover span,
  .todo__btn-search-bar--inverse:active span {
    color: #dc3545; }

.todo__input-search {
  background-color: #ededed;
  box-shadow: inset 1px -1px 4px rgba(128, 128, 128, 0.6);
  border-radius: 12px; }

.todo__search-by--menu-container {
  position: absolute;
  display: none;
  top: 24px;
  left: 0;
  margin-top: 24px;
  background-color: #ededed;
  width: 200px;
  padding: 12px;
  z-index: 2000;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: #cfcfcf 2px 3px 2px inset; }
  @media (max-width: 575px) {
    .todo__search-by--menu-container {
      top: 16px; } }
  @media (max-width: 575px) {
    .todo__search-by--menu-container {
      width: 180px; } }
  .todo__search-by--menu-container div.todo__custom-control {
    padding-bottom: 6px; }
    .todo__search-by--menu-container div.todo__custom-control label {
      font-weight: bold;
      color: #303f9f; }
  .todo__search-by--menu-container div.todo__custom-control:hover label {
    color: #303f9f; }
  .todo__search-by--menu-container .todo__search-by--mobile-heading {
    text-align: center; }
    .todo__search-by--menu-container .todo__search-by--mobile-heading span {
      color: #212121;
      font-weight: bold;
      font-family: "rajdhani-bold";
      text-transform: uppercase; }
    .todo__search-by--menu-container .todo__search-by--mobile-heading hr {
      margin-top: 3px;
      margin-bottom: 3px; }

.todo__mytodos-search--container ul {
  list-style: none;
  margin: 0;
  padding: 0; }
@media (max-width: 576px) {
  .todo__mytodos-search--container p {
    font-size: 12px; } }

.todo__main-heading--mytodos-search {
  margin-bottom: 0;
  color: #1a1a1a; }
  .todo__main-heading--mytodos-search span {
    color: #4285f4;
    text-decoration: underline; }
  @media (max-width: 576px) {
    .todo__main-heading--mytodos-search {
      font-size: 20px;
      margin: 24px 0; } }

.todo__mytodos-search--subheading {
  font-size: 24px;
  font-family: "fjallaone-regular";
  color: #1a1a1a; }
  @media (max-width: 576px) {
    .todo__mytodos-search--subheading {
      font-size: 14px; } }

.todo__mytodos-search--subheading-item {
  font-size: 18px;
  color: #444444;
  font-family: "fjallaone-regular"; }
  @media (max-width: 576px) {
    .todo__mytodos-search--subheading-item {
      font-size: 13px; } }

.todo__mytodos-search--result-item {
  font-size: 18px;
  font-family: "rajdhani-regular";
  font-weight: bold;
  margin-bottom: 3px;
  margin-top: 6px; }
  .todo__mytodos-search--result-item a {
    color: #4285f4;
    text-decoration: underline; }
  @media (max-width: 576px) {
    .todo__mytodos-search--result-item {
      font-size: 14px; } }

.todo__mytodos-search--description {
  font-size: 14px; }

.todo__mytodos-search--sublist-todo {
  margin-left: 12px !important; }

.todo__mytodos-search--container-buttons {
  text-align: center;
  margin-top: 36px; }
  @media (max-width: 576px) {
    .todo__mytodos-search--container-buttons button {
      width: 120px;
      max-width: 120px;
      padding-left: 0;
      padding-right: 0; } }

.todo__mytodos-search--no-results {
  color: #dc3545;
  font-size: 18px; }
  @media (max-width: 576px) {
    .todo__mytodos-search--no-results {
      font-size: 12px;
      font-weight: bold; } }

@media (max-width: 576px) {
  .todo__registration--box {
    min-width: 290px;
    max-width: 360px; } }
@media (min-width: 576px) {
  .todo__registration--box {
    min-width: 320px;
    max-width: 380px; } }

.todo__registration--container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  margin-top: 48px; }
  .todo__registration--container label {
    margin-bottom: 0;
    color: #333333;
    font-family: "rajdhani-bold"; }
  .todo__registration--container p {
    text-align: center;
    font-family: "rajdhani-bold";
    color: #4285f4; }

.todo__registration--logo-container {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  text-align: center;
  background: #4285f4;
  background: -moz-linear-gradient(left, #4285f4 0%, #303f9f 100%);
  background: -webkit-linear-gradient(left, #4285f4 0%, #303f9f 100%);
  background: linear-gradient(to right, #4285f4 0%, #303f9f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#4285f4", endColorstr='#303f9f',GradientType=1 );
  padding: 6px;
  margin-top: -25px;
  margin-left: -25px;
  margin-right: -25px; }
  .todo__registration--logo-container div {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .todo__registration--logo-container svg {
    height: 35px;
    width: 100%; }

.todo__registration--heading {
  font-family: "fjallaone-regular";
  color: #333333;
  font-size: 28px;
  margin: 12px 0 0; }

.todo__registration--form-container {
  margin-top: 6px;
  border: 1px solid #ededed;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: rgba(237, 237, 237, 0.2);
  padding: 24px;
  box-shadow: 0px 0px 4px #cfcfcf; }

.todo__registration--form {
  padding: 12px; }

.todo__registration--line {
  margin: 12px 0; }

.todo__registration--user-message {
  display: block;
  position: relative;
  margin: 6px 0;
  padding: 3px 24px 3px 6px;
  background-color: rgba(220, 53, 69, 0.85);
  border: 2px solid #dc3545; }
  .todo__registration--user-message p {
    color: #ededed;
    font-family: "rajdhani-bold";
    text-align: left;
    margin-bottom: 0; }
  .todo__registration--user-message .close {
    padding: 3px 6px 24px 24px; }
    .todo__registration--user-message .close span {
      color: #212121; }

@media print {
  *:before, *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
/*remember change these to the generic form above*/
@font-face {
  font-family: "fjallaone-regular";
  src: url("../fonts/fjallaone-regular.ttf") format("truetype"), url("../fonts/fjallaone-regular.woff") format("woff"), url("../fonts/fjallaone-regular.woff2") format("woff2"); }
@font-face {
  font-family: "rajdhani-regular";
  src: url("../fonts/rajdhani-regular.ttf") format("truetype"), url("../fonts/rajdhani-regular.woff") format("woff"), url("../fonts/rajdhani-regular.woff2") format("woff2"); }
@font-face {
  font-family: "rajdhani-bold";
  font-weight: "bold";
  src: url("../fonts/rajdhani-bold.ttf") format("truetype"), url("../fonts/rajdhani-bold.woff") format("woff"), url("../fonts/rajdhani-bold.woff2") format("woff2"); }

/*# sourceMappingURL=styles.css.map */
