/*.todo__action-menu-container{
  position: relative;
  &--aux{
    position: absolute;
    top: 0;
    right: 24px;
    @include todo__center-flex;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    box-shadow: 0px 0px 8px $gray;
  }
  .todo__action-menu{
    @include todo__inline-flex;
    @include reset-list;
  }
  .todo__btn-collection,.todo__btn-todo{
    padding: 12px;
    text-align: center;
    cursor: pointer;
    svg{
      width: 24px;
      height: 24px;
      margin-bottom: -6px;
      color:$sapphire;
      transition: color 1s;
    }
    span{
      display: block;
      text-transform: uppercase;
      color:$sapphire;
      font-family: $font-secondary;
      font-size:12px;
      transition: color 1s;
    }
    &:hover{
      svg{
        color:$tomato;
      }
      span{
        color:$tomato;
      }
    }
    &--selected{
      background-color: $white;
      border:none;
      width: 100%;
      padding: 6px;
      transition: color 1.5s;
      svg{
        display: block;
        width: 24px;
        height: 24px;
        margin:auto;
        color:$tomato;
        transition: color .6s;
      }
      span{
        font-family:$font-secondary;
        text-transform: uppercase;
        font-size: 12px;
        color:$tomato;
        transition: color .6s;
      }
      &:hover{
        //background-color: $tomato;
        svg{
          //color:$white;
          text-shadow:1px 1px 2px $gray;
        }
        span{
          //color:$white;
        }
      }
    }
    &--disabled{
      cursor:not-allowed;
      pointer-events: none;
      svg{
        color:$alto;
      }
      span{
        color:$alto;
      }
    }
  }
  //BUTTON CANCEL
  .todo__btn-cancel{
    display: none;
    color:$white !important;
    font-family:$font-secondary;
    background-color: rgba($tomato,.85);
    transition: background-color 1s;
    border:2.5px solid rgba($tomato,1);
    font-size: 16px;
    letter-spacing: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    &:hover{
      //background-color:rgba($tomato,1);
      //color: $white !important;
      text-shadow:1px 1px 2px $gray;
    }
  }
  //BUTTON CLEAR

  .todo__btn-clear{
    display: none;//inline-block
    background-color:$gallery;
    color:$sapphire;
    padding: 3px 6px;
    font-weight: bold;
    border:1px solid $sapphire;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    transition: background-color 1s;
    &:hover{
      //color:$white;
      //background-color:$sapphire;
      text-shadow:1px 1px 2px $gray;
    }
  }
}
*/

.todo__action-menu-container{
  position:relative;
  &--aux{
    position: absolute;
    //position: fixed;
    top: -12px;
    left: 50%;
    right: 50%;
    //
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    //
    //@include todo__center-flex;
    //border-bottom-left-radius: 24px;
    //border-bottom-right-radius: 24px;
    //box-shadow: 0px 0px 8px $gray;
  }
  .todo__action-menu{
    @include reset-list;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .todo__btn-collection,
  .todo__btn-todo{
    padding: 6px 12px;
    text-align: center;
    cursor: pointer;
    //
    border-radius: 100%;
    margin: 6px;
    background: rgba( $gallery, .5);
    box-shadow: 1px 2px 2px $alto;
    transition: background-color 1s;
    //

    svg{
      width: 24px;
      height: 24px;
      margin-bottom: -6px;
      color:$mine-shaft;
      transition: color 1s;
    }
    span{
      display: block;
      text-transform: uppercase;
      color:$mine-shaft;
      font-family: $font-secondary;
      font-size:12px;
      transition: color 1s;
      padding-top: 1.5px;
    }
    &:hover{
      background-color: rgba( $alto, .6);
    }
    &--selected{
      background-color: $sapphire;
      border:none; 
      width: 100%;
      //padding: 6px;
      transition: box-shadow 0.5s;
      svg{
        display: block;
        width: 24px;
        height: 24px;
        margin:auto;
        color:$gallery;
        transition: color .6s;
      }
      span{
        font-family:$font-secondary;
        text-transform: uppercase;
        font-size: 12px;
        color:$gallery;
        transition: color .6s;
      }
      &:hover{
        background-color: $sapphire;
        box-shadow: -1px 1px 2px #575757;;
        svg{
          //color:$white;
          //text-shadow:1px 1px 2px $gray;
        }
        span{
          //color:$white;
        }
      }
    }
    &--disabled{
      display: none !important;
      cursor:not-allowed;
      pointer-events: none;
      svg{
        color:$alto;
      }
      span{
        color:$alto;
      }
    }
  }
  //BUTTON CANCEL
  .todo__btn-cancel{
    display: block;
    border-style: none;
    //font-family:$font-secondary;
    //background-color: rgba($tomato,.85);
    transition: background-color 1s;
    //border:2.5px solid rgba($tomato,1);
    //font-size: 16px;
    //letter-spacing: 4px;
    //border-top-left-radius: 0;
    //border-top-right-radius: 0;
    svg{
      color:$tomato;
    }span{
      color:$tomato;
      padding-top: 3px;
    }
    &:hover{
      //background-color:rgba($tomato,1);
      //color: $white !important;
      //text-shadow:1px 1px 2px $gray;
    }
  }
  //BUTTON CLEAR

  .todo__btn-clear{
    display: block;//inline-block
    border-style: none;
    //background-color:$gallery;
    //color:$sapphire;
    //padding: 3px 6px;
    //font-weight: bold;
    //border:1px solid $sapphire;
    //border-bottom-left-radius: 24px;
    //border-bottom-right-radius: 24px;
    transition: background-color 1s;
    svg{
      color:$mine-shaft;
    }span{
      color:$mine-shaft;
      padding-top: 3px;
    }
    &:hover{
      //color:$white;
      //background-color:$sapphire;
      //text-shadow:1px 1px 2px $gray;
    }
  }
}
