.todo__bubble-creator--outer-container{
  position: fixed;
  top:84%;
  right: 0px;
  .todo__bubble-creator--inner-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .todo__bubble-creator--collection-container,
    .todo__bubble-creator--todo-container{
      z-index:9999;
      display: flex;
      flex-direction: column;
      justify-content: center;
      a{
        display: flex;
        flex-direction: column; 
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        &:hover{
          text-decoration: none;
        }
      }
      border-bottom-left-radius: 24px;
      border-top-left-radius: 24px;
      box-shadow: -2px 2px 2px $gray;
      //
      width: 80px;
      height: 40px;
      margin: 6px 0 6px 12px;
      //
      span{
        font-family: $font-secondary;
        font-size: 12px;
        text-transform: uppercase;
        color: white;
      }
    }
    .todo__bubble-creator--collection-container{
      background-color: $cornflower-blue;

    }
    .todo__bubble-creator--todo-container{
      background-color: $tomato;

    }

  }
}
