main{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.todo__general-container{
  //@include todo__center-flex;
  position: relative;
  //margin-left: 264px;
  //margin-right: 264px;
  margin-top: 90px;//66+24
  background-color:$white;
  box-shadow:0 0 5px $gray;
  padding-left:24px;
  padding-right:24px;
  border-radius: 12px; 

  .todo__todo-body{
    @include separator;
    @media(max-width:576px){
      margin-bottom: 12px;
    }
  }
  .todo__todo-title {
      h2{
      font-family: $font-secondary;
      color:$sapphire;
      margin-bottom: 6px;
      @media(max-width: 576px){
        font-size: 18px;
        margin-top: 24px;
      }
    }
  }

  .todo__todo-description-container{
    background-color:$gallery;
    margin-left: -24px;
    margin-right: -24px;
    p{
      margin-left: 24px;
      margin-right:24px;
      padding-top: 12px;
      padding-bottom: 12px;
      margin-bottom: 0;
      color:$black;
      @media(max-width: 576px){
        font-size: 13px;
      }
    }
  }
}

.top-right-absolute{
  position: absolute;
  top: 0;
  right: 0;
}
.todo__item-category-name{
  margin:12px;
  @media(max-width: 576px){
    margin: 6px;
    margin-top: 2px;
  }
  span{
    background-color: $sapphire;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    color:$white;
    font-family: $font-secondary;
    padding: 3px 6px;
    text-transform: uppercase;
    @media(max-width: 576px){
      font-size: 11px;
    }
  }
  a{
    color:$black;
    background-color: $gallery;
    font-family: $font-secondary;
    padding: 2px 4px;
    text-transform: uppercase;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border:1px solid $sapphire;
    margin-left:-5px;
    @media(max-width: 576px){
      font-size: 11px;
    }
  }
}
///TAGS
.todo__library-tags{
  .todo__library-tags-list{
    @include todo__inline-flex;
    flex-wrap: wrap;
    @include reset-list;
    @include separator;
    @media(max-width: 576px){
      margin-bottom: 12px;
    }
  }
  li a{
    font-family:$font-secondary;
    color: $sapphire;
    font-weight: bold;
    padding: 6px;
    @media(max-width: 576px){
      font-size: 12px;
    }
  }
}

//GENERAL FOOTER ITEM
.todo__library-footer{
  @include todo__blue-gradient;
  margin-left:-24px;
  margin-right:-24px;
  padding-left: 6px;
  padding-right: 6px;
  @include todo__inline-flex;

  p{
    color:$white;
    margin-bottom: 6px;
    margin-top:6px;
    @media(max-width: 576px){
      font-size: 12px;
    }
    span{
      font-family: $font-primary-bold;
    }
  }
}// end GENERAL FOOTER ITEM
