footer{
  @include clean-fluid;
  p.coder-message{
    text-align: center;
    @include master-margin;
    border-top: 1px solid $gray;
    border-top-style: dashed;
    padding-top: 12px;
  }
  div.inner{
    @include todo__center-flex;
    @include todo__blue-gradient;
    p,p a{
      margin-top:1rem;
      text-align: center;
      color:$white;
    }
  }
}
.footer-absolute{
  height: 133px;
  position: absolute;
  left: 0;
  bottom: 0;
}
