.front-page{
  background-color: $white;
  //@include clean-fluid;
  @include todo__center-flex;
  @include separator;
  margin-left: -15px;
  margin-right: -15px;
}
.front-page__first-block,.front-page__second-block{
  @include todo__inline-flex;
  @include separator;
  @media(max-width:576px){
    flex-wrap: wrap;
  }
}
//////FIRST-BLOCK
.front-page__first-block{
  margin-top: 24px;
  .left, .right{
    @include todo__center-flex;
    width: 80%;
    @media(max-width: 576px){
      width: 100%;
      margin-top: -24px;
    }
  }
  .left{
    margin-left: auto;
  }
  .right{
    align-items:center;
    margin-right: auto;
  }
  .introduction-list{
    list-style: none;
    padding-left: 12px;
    li{
      position: relative;
      p{
        font-size:18px;
        @media(max-width: 576px){
          font-size: 16px;
        }
      }
    }
  }
  span.red-dot{
    position: absolute;
    top:-2px;
    left:-12px;
  }
}
////SECOND-BLOCK
.front-page__second-block{
  background-color:$gallery;
  box-shadow: inset  0 0 5px $gray;
  padding-top: 24px;
  padding-bottom:48px;
  color:$black;
  .left{
    width: 80%;
    margin-left: auto;
    @media(max-width:576px){
      width: 100%;
    }
  }
  .right{
    width: 80%;
    margin-right: auto;
    @media(max-width:576px){
      width: 100%;
    }
  }
}
.front-page__heading-3{
  font-family: "fjallaone-regular";
  color:$cornflower-blue;
  font-size:24px;
  @media(max-width: 576px){
    font-size: 18px;
  }
}
//CREATE LIBRARY -- CREATE TODO
.front-page__button-library,
.front-page__button-todo{
  font-family:"fjallaone-regular";
  font-size:36px;
  @media(max-width: 576px){
    font-size: 32px;
  }
  text-transform: uppercase;
  text-align: center;
  margin:0.43em 0 0.23em;
  & a{
    color:rgba($cornflower-blue,0.9);
    text-shadow: 0px 5px 2px $gallery, 0px 0px 0px $black, 0px 5px 2px $gallery;
    transition: color .5s;
    &:hover{
      color:rgba($sapphire,0.8);
      text-decoration: none;

    }
  }
}
//this is a simple class that could be and extended class
.high-sapphire{//blue and capitalized
  @include todo__high-sapphire;
}
.front-page__list-description{
  list-style: none;
  li{
    margin:12px 0;
    @media(max-width: 576px){
      font-size: 14px;
    }
  }
  @extend .padding-list-off;
}
////THIRD-BLOCK----------
.front-page__third-block{
  text-align: center;
  //@include master-margin;
  @include separator;
  h3{
    font-family:"fjallaone-regular";
    color:$cornflower-blue;
    font-size:36px;
    @media(max-width: 576px){
      font-size: 24px;
    }
    margin-top:12px;
    margin-bottom: 12px;
  }
  svg{
    width: 100%;
    @media(max-width:576px ){
      height: auto;
    }
  }
}
