.header__blue-gradient{
  @include clean-fluid;
  @include todo__blue-gradient;
  @include separator;
  box-shadow:-1px 3px 4px $gray;
}
.header__menu{
  @include todo__inline-flex;
  padding:24px 0 16px 0;
}
.header__logo{
  margin: 0 12px;
  svg{
    @media(max-width: 576px) {
      width: 135px;
      height: 50px;
    }
    @media(min-width: 576px) {
      width: 300px;
      height: 70px;
    }
  }
}
.header__menu-item{
  align-self:flex-end;
  font-family: "fjallaone-regular";
  @media(max-width: 576px) {
    font-size:16px;
  }
  @media(min-width: 576px) {
    font-size:24px;
  }
  a{
    color:$white;
    text-decoration: underline;
    transition: color 1s;
  }
  a:hover{
    color:$alto;
  }
  span{
    font-size:14px;
    color:$tomato;
    text-decoration: none !important;
  }
}

.white-header{
  box-shadow:-1px 3px 4px $alto;
  @include todo__white-gradient;
  .header__menu-item{
    a{
      color:$sapphire;
    }
    a:hover{
      color:$tomato;
    }
  }
}
