.todo__form{
background-color:$white;
@media(max-width: 576px){
  //margin-top: -45px;
  margin-top: 0px;}
//JUMBOTRON
  .jumbotron_container{
    background-color:$sapphire;
    @include todo__inline-flex;
    flex-wrap: wrap;
    margin-top:-6px;
    padding-top: 24px;
    padding-bottom: 84px;
    box-shadow: inset 0px 4px 8px #2c325d;
    @media(min-width: 576px){
      @include clean-fluid;
      margin-top:-24px;
    }

    h1{
      //width:50%;
      margin: 0;
      font-family:"fjallaone-regular";
      text-transform: uppercase;
      color: $white;
      font-size: 48px;
      letter-spacing: 2px;
      text-align:right;
      //align-self: flex-start;
      @media(max-width: 576px){
        text-align: center;
        font-size: 24px;
        letter-spacing: 1.5px;
      }
    }
    .guidelines_container{
      ul{
        @include reset-list;
        border-left:1px solid $alto;
        margin-left:24px;
        padding-left:24px;
        @media(max-width: 576px){
          list-style: circle;
          border-style: none;
          //border-top:1px solid $alto;
          margin-left:24px;
          padding-left:0px;
        }
        li{
          font-family:$font-primary;
          font-size:16px;
          color:$alto;
          &:nth-child(n+1){
            margin-top:6px;
          }
          @media(max-width: 576px){
            font-size:14px;
          }
        }
      }
    }
  }
//FORM
  .todo_container{
    background-color:$white;
    margin-top: -60px;
    box-shadow: 0 0 4px $gray;
    padding: 12px 132px 12px 132px;
    @media(max-width: 576px){
      padding:12px;
    }

    .todo__input-form{
      background-color:rgba( $gallery, .5 );
      //@include todo__white-form-gradient;
      box-shadow:inset 1px -1px 5px rgba($alto,.8);
      //border-radius:12px;
    }
    hr{margin:0;}
    .form-subheading{
      display: block;
      width: 100%;
      text-align: center;
      color: $sapphire;
      padding-top: 24px;
      font-family:$font-primary-bold;
    }
    .todo__form-separator{
      margin-bottom: 12px;
    }

    label{
      margin-bottom: 0;
      text-transform: uppercase;
      color:$tundora;
      font-family:$font-primary-bold;
      span{
        color:$gray;
        font-family: $font-primary;
        font-size: 12px;
        text-transform: lowercase;
        span{
          color: $tomato;
        }
      }
    }

    .todo__form-main-category-message {
      margin: 3px 24px 12px;
    }
    .todo-message{
      margin-top:24px;
      margin-bottom:24px;
      margin-left: 0;
      @media(max-width: 576px){
        margin: auto;
        margin-top: 12px;
        margin-bottom: 12px;
        padding-bottom: 6px;
        border-style: none;
        border-bottom: 1px solid $alto;
      }
      border-left:1px solid $alto;
      p{margin:0;}
    }
    .todo__tags-container{
      position: relative;
      display: none;
      ul{
        @include reset-list;
        padding-top: 12px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        .selected{//when the elements are ready the be deleted
          color:$tomato;
          font-weight: bold;
        }
      }
    }
    .top-center-absolute{
      position: absolute;
      top: -24px;
      right: 0;
      @include todo__inline-flex;
      button{
        margin: 0 3px;
      }
    }
    .todo__tag-item{
      @include todo__high-sapphire;
      padding: 3px 6px;
      font-size: 12px;
      cursor:pointer;
    }
    .todo__tags-input{
      position: relative;
      input{
        display: inline-block;
        width: 70%;
      }
    }
    #todo__tag-alert{
      //padding: 3px;

    }
    .disable{
      color:$alto;
      border-color:$alto;
      cursor: not-allowed;
    }
    .todo__btn-tag{
      font-size: 11px;
      font-family: $font-primary;
      padding: 3px;
      &--add{
        background-color:$white;
        border:1px solid $sapphire;
        padding: 6px;
        color: $sapphire;
        font-size: 12px;
        text-transform: uppercase;
        margin-bottom: 6px;
        font-family: $font-primary-bold;
        transition: color .3s, background-color .3s;
      }
      &--add:hover{
        color:$white;
        background-color: $sapphire;
      }
    }

    .left{
        text-align: right;
    }

    .todo__btn-form{
      color:$white;
      font-family:$font-secondary;
      text-transform: uppercase;
      text-align: center;
      font-size:24px;
      padding: 6px 72px;
      @media(max-width: 576px){
        padding: 8px 25px;
        font-size:18px;
        width: 120px;
        max-width: 120px;
        margin-top: 12px;
      }
      border-radius: 0;

      &--blue{
        background-color: $sapphire;
      }
      &--dark{
        background-color:$tundora;
      }
    }

  }
}
