div.todo__box-message{
  display: none;
  position: fixed;
  bottom: 0;
  left: 10px;
  max-width: 400px;
  z-index:2000;
  background-color: $tundora;
  color:$gallery;
  font-size:18px;
  font-weight: bold;
  transition: display 2s;
}

.todo__message--transition{
  display: block !important;
}
