// Color Palette
// examples based on the official Sass styleguide

// descriptive colors
// ============= 

$white:                     #fff;
$sapphire:                  #303f9f;
$cornflower-blue:           #4285f4;
//$tomato:                    #ff4444;
$tomato:                    #dc3545;
$black:                     #000;

// gray tones
//===========
$gallery:                   #ededed;
$alto:                      #cfcfcf;
$gray:                      #808080;

// night efect
//============
$tundora:                   #444444;
$mine-shaft:                #333333;
$dark-night:                #212121;
$code-gray:                  #1a1a1a;

// main color palette
// =============
$color-primary:             $sapphire;
$color-secondary:           $cornflower-blue;
$color-contrast:            $tomato;


// Common colors
$color-background:          $gallery;
$color-background-invert:   $tundora;
$color-text:                $gray;
$color-text-weak:           $gallery;
$color-text-strong:         $dark-night;
$color-text-heading:        $sapphire;
$color-text-contrast-heading:$white;



// Links
//======
$color-link:                $sapphire;


// Level of Importance
//=====================
$level-1:                   $gallery;
$level-2:                   #007e33;
$level-3:                   #ff8800;
$level-4:                   $tomato;
$level-5:                   #9933cc;
