html,body{
  margin: 0;
  padding: 0;
  background-color: $white;
}
.todo__main-background{
  background-color: $white;
  min-height: calc( 100vh - 269px );
  @media(min-width: 992px){
    min-height: calc( 100vh - 249px );
  }
  position: relative;
}
